/* ______________NAVBAR_____________ */
#navbar{
    display: flex;
}
.brand-navbar{
    

}
.nav-button{
    display: none;
}
.navbar-content{
    margin-left: auto;
    margin-right: 30px;
    
}
.nav-item-list{
    display: flex;
}
.navbar-items{
    list-style: none;
    margin: 0 10px;
}

.navbar-links{
    
}





/* ---------------------Common Classes------------------- */
/* ______Links______ */
.vakra-link{
    text-decoration: none;
    color: #544e4e;
}